@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@600&family=Maitree:wght@500&family=Yrsa&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0B132B;
  height: 100vh;
  color: #D6E5E3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
  font-family: 'Yrsa', serif;
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 5vh;
}

h1 {
  margin: 0;
  font-family: 'Kreon', serif;
  font-weight: 600;
}

.header > p {
  margin: 0;
  font-family: 'Maitree', serif;
  font-weight: 500;
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.result-middle {
  min-width: 150px;
  text-align: center;
}

#result-text {
  margin-bottom: 16px;
  font-size: 28px;
}

.rps-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.rps-image {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background-color: #7180AC;
  border-radius: 8px;
}

.rps-image > img {
  width: 150px;
}

.rps-btn-container {
  display: flex;
  gap: 16px;
}

.rps-btn {
  width: 100px;
  height: 100px;
  background-color: #D6E5E3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.rps-btn:hover {
  background-color: hsl(172, 22%, 75%);
}

.rps-btn:active {
  transform: scale(0.95);
}

.rps-btn:disabled {
  opacity: 50%;
  cursor: default;
}

.rps-btn > img {
  width: 80px;
}

#play-again-btn {
  border: none;
  font-size: 22px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Maitree', serif;
  font-weight: 500px;
  background-color: #7C7F65;
  color: #fff;
}

#play-again-btn:active {
  transform: scale(0.95);
}

#play-again-btn:hover {
  background-color: hsl(67, 11%, 35%);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(225, 59%, 5%);
  width: 100vw;
  color: #D6E5E3;
  height: 48px;
  font-size: 22px;
}

.footer a {
  text-decoration: none;
  color: hsl(225, 26%, 56%);
}